<ion-list *ngIf="processes.length > 0">
  <ion-list-header>
    <ion-toolbar>
      <ion-segment (ionChange)="filterProcesses($event)" value="active">
        <ion-segment-button value="active">
          <ion-label>{{ 'list_page.inProgress' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="finished">
          <ion-label>{{ 'list_page.finished' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-list-header>
  <ion-item *ngFor="let process of filteredProcesses" [routerLink]="['single']" [state]="{ process: process}">
    <ion-thumbnail slot="start">
      <img [src]="process?.pictureUrl" alt="Process picture.">
    </ion-thumbnail>
    <ion-label>
      <h3>
        {{ process?.description }}
      </h3>
      <p>
        <span
          *ngIf="isBeforeToday(parseDate(process?.endTime))"><countdown #cd
                                                                       [config]="getCountdownConfig(parseDate(process.endTime))"
                                                                       end></countdown>
          {{ 'list_page.hoursLeft' | translate }}</span>
        <a *ngIf="!isBeforeToday(parseDate(process?.endTime))">{{ 'list_page.seeResult' | translate }}</a>
      </p>
    </ion-label>
  </ion-item>
</ion-list>
<ion-fab class="process add" horizontal="end" slot="fixed" vertical="bottom" routerLink="modify">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<delphi-empty *ngIf="processes.length == 0"></delphi-empty>
