<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'home.processes.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <delphi-empty *ngIf="processes?.length == 0"></delphi-empty>
  <ion-list *ngIf="processes != null && processes.length > 0">
    <ion-list-header>
      <ion-toolbar>
        <ion-segment (ionChange)="filterProcesses($event)" value="active">
          <ion-segment-button value="active">
            <ion-label>{{ 'home.processes.filter.in_progress' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="finished">
            <ion-label>{{ 'home.processes.filter.finished' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-list-header>
    <ion-item *ngFor="let process of filteredProcesses" [routerLink]="['view']" [state]="{ process: process}">
      <ion-thumbnail slot="start">
        <img *ngIf="process?.pictureUrl !== undefined" [src]="process.pictureUrl" (error)="$event.target['src'] = 'assets/images/no-process-image.jpeg'"/>
        <img *ngIf="process?.pictureUrl === undefined" src="../../../../../assets/images/no-process-image.jpeg"/>
      </ion-thumbnail>
      <ion-label>
        <h3>
          {{ process?.name }}
        </h3>
        <p>
        <span
          *ngIf="!process.processFinished">
          {{process.description}}</span>
          <a *ngIf="process.processFinished">{{ 'home.processes.finished.view_results' | translate }}</a>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab class="process add" horizontal="end" slot="fixed" vertical="bottom" routerLink="/logged-in/menu/processes/modify">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <delphi-loading *ngIf="processes == null"></delphi-loading>
</ion-content>
