<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Procesos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <delphi-empty *ngIf="processes?.length == 0 && !loadingProcesses"></delphi-empty>
  <ion-list *ngIf="processes != null && processes.length > 0 && !loadingProcesses">
    <ion-list-header>
      <ion-toolbar>
        <ion-segment (ionChange)="filterProcesses($event)" value="active">
          <ion-segment-button value="active">
            <ion-label>En progreso</ion-label>
          </ion-segment-button>
          <ion-segment-button value="finished">
            <ion-label>Finalizados</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-list-header>
    <delphi-empty *ngIf="filteredProcesses?.length == 0"></delphi-empty>
    <ion-item *ngFor="let process of filteredProcesses" (click)="editProcess(process)" color="">
      <ion-thumbnail slot="start">
        <img (error)="$event.target['src'] = 'assets/images/no-process-image.jpeg'"
             *ngIf="process?.pictureUrl !== undefined"
             [src]="process.pictureUrl"/>
        <img *ngIf="process?.pictureUrl === undefined" src="../../../../../assets/images/no-process-image.jpeg"/>
      </ion-thumbnail>
      <ion-label>
        <h3>
          {{ process?.name }}
        </h3>
        <p>
        <span
          *ngIf="!process.finished">
          {{process.description}}</span>
          <a *ngIf="process.finished">Ver resultados</a>
        </p>
      </ion-label>
      <ion-note slot="end" color="primary">{{isCoordinator(process) ? 'Coordinador': 'Experto'}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-fab class="process add" horizontal="end" slot="fixed" vertical="bottom" (click)="addProcess()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <delphi-loading *ngIf="loadingProcesses"></delphi-loading>
</ion-content>
