

.circle {
  background-color: #ccc;
  border-radius: 20%;
  height: 50px;
  text-align: center;
  width:  50px;
}

.initials {
  font-size: 1em; /* 50% of parent */
  line-height: 1;
  position: relative;
  top: 15px; /* 25% of parent */
}
