<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/logged-in/home/menu/processes/view']"
                       [state]="{ process: process}"
                       (click)="goBack()" [text]="'home.processes.view.end.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'home.processes.view.end.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Textarea in an item with a placeholder -->
  <ion-item>
    <ion-textarea [(ngModel)]="conclusion" placeholder="Introduce tu conclusión aquí..."></ion-textarea>
  </ion-item>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="closeProcess()">{{'home.processes.view.participate.send' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
