<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logged-in/home/menu/processes" (click)="goBack()" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'single_page.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <div class="img-wrapper">
      <img [src]="process?.pictureUrl"/>
      <ion-button color="light">
        <ion-icon color="medium" name="camera-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>{{process?.name }}</h2>
      <ion-text color="medium">
        <div class="ion-justify-content-center" style="display: flex;">
          <p>{{process?.description}}</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" [routerLink]="['/logged-in/home/menu/processes/modify/', process?.id]">Editar proceso</ion-button>
  </ion-toolbar>
</ion-footer>
