<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Proceso Delphi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

  <section>
    <ion-button expand="block">Invitar a más expertos</ion-button>
  </section>
  <section>
    <ion-button expand="block">Cerrar ronda y analizar resultados</ion-button>
  </section>


</ion-content>
