<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logged-in/menu/processes"
                       routerDirection="back"
                       routerLink="/logged-in/menu/processes"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Proceso Delphi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <input #uploadPicture (change)="uploadImage()" accept="image/*" hidden type="file">
  <ion-card color="light">
    <div (click)="triggerUploadImage()" class="img-wrapper">
      <img (error)="$event.target['src'] = 'assets/images/no-process-image.jpeg'"
           *ngIf="process?.pictureUrl !== undefined"
           [src]="process.pictureUrl"/>
      <img *ngIf="process?.pictureUrl === undefined" src="assets/images/no-process-image.jpeg"/>
      <ion-button color="light" *ngIf="isCoordinator() && !process.processFinished">
        <ion-icon color="medium" name="camera-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-list class="ion-no-margin" lines="full">
    <ion-list-header lines="full">
      <ion-label>
        {{ 'home.processes.single-round.base' | translate }}
      </ion-label>
    </ion-list-header>


    <ion-item>
      <ion-input [(ngModel)]="process.name"
                 debounce="200"
                 (ngModelChange)="updateBasicFields()"
                 [placeholder]="'home.processes.single-round.name' | translate"
                 [readonly]="!isCoordinator() || process.processFinished"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="process.description"
                    debounce="200"
                    (ngModelChange)="updateBasicFields()"
                    [placeholder]="'home.processes.single-round.desc'  | translate"
                    [readonly]="!isCoordinator() || process.processFinished"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="process.objectives"
                    debounce="200"
                    (ngModelChange)="updateBasicFields()"
                    [placeholder]="'home.processes.single-round.desc'  | translate"
                    [readonly]="!isCoordinator() || process.processFinished">Objetivos del proceso
      </ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list class="ion-no-margin" lines="inset">
    <ion-list-header>
      <ion-label>
        {{ 'home.processes.single-round.rounds.title'  | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item *ngIf="!process.processFinished" routerDirection="forward"
              [routerLink]="'/logged-in/menu/processes/single-round/' + process.id + '/question/list'">
      <ion-label>{{ 'home.processes.single-round.rounds.current' | translate }}</ion-label>
      <ion-badge slot="end">{{process?.currentRound?.questions?.length}} Preguntas
      </ion-badge>
    </ion-item>
    <ion-item routerDirection="forward"
              [routerLink]="'/logged-in/menu/processes/single-round/' + process.id + '/rounds'">
      <ion-label>{{ 'home.processes.single-round.rounds.past' | translate }}</ion-label>
      <ion-badge slot="end">{{process?.rounds?.length}} Rondas
      </ion-badge>
    </ion-item>
  </ion-list>
  <ion-list class="ion-no-margin" lines="full">
    <ion-list-header lines="full">
      <ion-label>
        {{ 'home.processes.single-round.rounds.users'  | translate }}
      </ion-label>
    </ion-list-header>

    <!-- Toggles in a List -->
    <ion-item routerDirection="forward"
              [routerLink]="'/logged-in/menu/processes/single-round/' + process.id + '/user-picker/coordinator'">
      <ion-badge slot="end">{{process?.coordinators?.length}}</ion-badge>
      <ion-label>{{'home.processes.role.coordinator' | translate}}</ion-label>
    </ion-item>

    <!-- Toggles in a List -->
    <ion-item *ngIf="isCoordinator()" routerDirection="forward"
              [routerLink]="'/logged-in/menu/processes/single-round/' + process.id + '/user-picker/expert'">
      <ion-badge slot="end">{{process?.experts?.length}}</ion-badge>
      <ion-label>{{'home.processes.role.expert' | translate}}</ion-label>
    </ion-item>
    <ion-item *ngIf="!isCoordinator()" routerDirection="forward">
      <ion-badge slot="end">{{process?.experts?.length}}</ion-badge>
      <ion-label>{{'home.processes.role.expert' | translate}}</ion-label>
    </ion-item>

    <!--*ngFor="let expert of process?.experts"-->

  </ion-list>

</ion-content>

<ion-footer *ngIf="!process.processFinished">
  <ion-toolbar>
    <ion-button color="warning" expand="block" (click)="finishProcess()">Finalizar proceso</ion-button>
  </ion-toolbar>
</ion-footer>
