<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Proceso Delphi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://media.istockphoto.com/photos/manual-workers-working-in-warehouse-picture-id874515358?k=6&m=874515358&s=612x612&w=0&h=aH-FzxnMgR_x34RKtHy3E60tWTWNFKKzA6Lsna-z_G8=">
    </ion-avatar>
    <ion-label>Carretilleros</ion-label>
  </ion-item>
  <section>
    Accesibilidad
    <rating [rate]="1"
            readonly="false"
            size="default" >
    </rating>
  </section>
  <section>
    Seguridad
    <rating [rate]="2.5"
            readonly="false"
            size="default" >
    </rating>
  </section>

  <section>
    Calidad trabajo actual
    <rating [rate]="4.3"
            readonly="false"
            size="default" >
    </rating>
  </section>

  <section>
    <b>Comentarios</b>
    <ion-item-divider>
      <ion-label>
        Se deben llevar guantes
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        Debemos tirar de la carretera entre 4
      </ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label>
        Las carretillas deben llevar mangos
      </ion-label>
    </ion-item-divider>
  </section>

  <section>
    <ion-button expand="block" (click)="showExpertInvitation()" *ngIf="!showExpertForm">Invitar experto</ion-button>
    <ion-input placeholder="Email del experto" [(ngModel)]="invitationEmail" *ngIf="showExpertForm"></ion-input>
    <ion-button color="primary" *ngIf="showExpertForm" (click)="sendExpertInvitation()">Enviar invitación</ion-button>
  </section>
  <section>
    <ion-button expand="block">Cerrar ronda y analizar resultados</ion-button>
  </section>
  <!--<section *ngIf="userStorage.hasRole('EXPERT')">
    <ion-button expand="block" (click)="showExpertInvitation()" *ngIf="!showExpertForm">Enviar votos</ion-button>
  </section>-->


</ion-content>
