<ion-header *ngIf="process">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/finished/' + process.id"
                       [routerLink]="'/logged-in/menu/processes/finished/' + process.id"
                       routerDirection="back"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Planificar ronda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="process"><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
  <form [formGroup]="currentRound">
    <ion-item>
      <ion-label position="floating">Fecha de cierre</ion-label>
      <ion-datetime
        [min]="currentTime"
        [readonly]="process.currentRound.started || process.finished || !isCoordinator()"
        display-format="MMM DD, YYYY HH:mm"
        formControlName="limitTime"
        picker-format="MMM DD, YYYY HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre de la ronda</ion-label>
      <ion-input [readonly]="process.currentRound.started || process.finished || !isCoordinator()"
                 debounce="1000"
                 formControlName="name"
                 maxlength="40"></ion-input>
    </ion-item>
  </form>
  <ion-item [disabled]="!process.currentRound.started"
            [routerLink]="'/logged-in/menu/processes/finished/' + process.id + '/question/poll-status'"
            routerDirection="forward">
    <ion-label>Estado de la votación</ion-label>
    <ion-badge slot="end">{{process.currentRound.expertsRemaining.length}} expertos por votar
    </ion-badge>
  </ion-item>
  <ion-item-divider>Preguntas</ion-item-divider>
  <div *ngIf="process.currentRound.questions.length == 0" class="container">
    <strong>Sin preguntas</strong>
    <p>No existen preguntas asociadas a esta ronda.</p>
  </div>
  <ion-reorder-group (ionItemReorder)="onItemReorder($event)" disabled="false">
    <!-- Default reorder icon, end aligned items -->
    <ion-item-sliding *ngFor="let question of process.currentRound.questions; let questionIndex = index">
      <ion-item-options side="start">
        <ion-item-option (click)="deleteQuestion(questionIndex)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item
        [routerLink]="['/logged-in/menu/processes/finished/' + process.id + '/question/finished/' + question.id]">
        {{question.name}}
        <ion-reorder *ngIf="!process.currentRound.started && isCoordinator()" slot="start"></ion-reorder>
      </ion-item>
    </ion-item-sliding>

  </ion-reorder-group>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab (click)="addQuestionStep1()" *ngIf="!process.currentRound.started && !process.finished && isCoordinator()"
           horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer *ngIf="process">
  <ion-toolbar *ngIf="!process.finished && isCoordinator()">
    <ion-button (click)="startRound()" *ngIf="!process.currentRound.started" color="primary" expand="block">Comenzar
      ronda
    </ion-button>
    <ion-button (click)="closeRound()" *ngIf="process.currentRound.started" color="danger" expand="block">Forzar fin de
      ronda
    </ion-button>
  </ion-toolbar>
</ion-footer>
