<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logged-in/home/menu/processes" (click)="goBack()" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar preguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->

  <ion-item>
    <ion-label>Fecha límite de ronda</ion-label>
    <ion-datetime display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" [(ngModel)]="this.process?.rounds[roundIndex].endTime"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="this.process?.rounds[roundIndex].name"></ion-input>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <div id="container" *ngIf="process?.rounds[roundIndex]?.questions.length == 0">
    <strong>Sin preguntas</strong>
    <p>No existen preguntas asociadas a esta ronda.</p>
  </div>
  <ion-reorder-group (ionItemReorder)="onItemReorder($event)" disabled="false">
    <!-- Default reorder icon, end aligned items -->
    <ion-item-sliding *ngFor="let question of process?.rounds[roundIndex].questions; let questionIndex = index">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteQuestion(questionIndex)">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item
        [routerLink]="['/logged-in/home/menu/processes/modify_question_content']"
        [state]="{ process: process, roundIndex: roundIndex, questionIndex: questionIndex}">
        {{question.name}}
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>
    </ion-item-sliding>

  </ion-reorder-group>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addQuestion()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="saveQuestions()">Guardar preguntas</ion-button>
  </ion-toolbar>
</ion-footer>
