<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'profilePassword_page.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Seguridad de cuenta</ion-label>
    <ion-input placeholder="Contraseña actual" [(ngModel)]="reset.currentPass"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Reseteo de contraseña</ion-label>
    <ion-input placeholder="Nueva contraseña" [(ngModel)]="reset.newPass"></ion-input>
    <ion-input placeholder="Repetir nueva contraseña" [(ngModel)]="reset.newPassRep"></ion-input>
  </ion-item>
  <section>
    <ion-button expand="block" (click)="resetPass()">Cambiar contraseña</ion-button>
  </section>
</ion-content>
