<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'home.profile.password.back' | translate" defaultHref="/menu/profile"
                       routerDirection="back"
                       routerLink="/menu/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'home.profile.password.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{ 'home.profile.password.security' | translate }}</ion-label>
    <ion-input [(ngModel)]="reset.currentPass" [placeholder]="'home.profile.password.current' | translate"
               type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{ 'home.profile.password.reset' | translate }}</ion-label>
    <ion-input [(ngModel)]="reset.newPass" [placeholder]="'home.profile.password.new' | translate"
               type="password"></ion-input>
    <ion-input [(ngModel)]="reset.newPassRep" [placeholder]="'home.profile.password.new_rep' | translate"
               type="password"></ion-input>
  </ion-item>
  <section>
    <ion-button (click)="resetPass()" expand="block">{{ 'home.profile.password.change' | translate }}</ion-button>
  </section>
</ion-content>
