<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" [text]="'home.profile.password.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'home.profile.password.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{ 'home.profile.password.security' | translate }}</ion-label>
    <ion-input type="password" [placeholder]="'home.profile.password.current' | translate" [(ngModel)]="reset.currentPass"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{ 'home.profile.password.reset' | translate }}</ion-label>
    <ion-input type="password" [placeholder]="'home.profile.password.new' | translate" [(ngModel)]="reset.newPass"></ion-input>
    <ion-input type="password" [placeholder]="'home.profile.password.new_rep' | translate" [(ngModel)]="reset.newPassRep"></ion-input>
  </ion-item>
  <section>
    <ion-button expand="block" (click)="resetPass()">{{ 'home.profile.password.change' | translate }}</ion-button>
  </section>
</ion-content>
