<ion-list *ngIf="!loading && userChatsOriginal.length > 0">
  <ion-searchbar (ionInput)="filterList($event)" autocomplete="on" autocorrect="on"
                 cancel-button-text="Cancelar" placeholder="Buscar chat" showCancelButton="focus"></ion-searchbar>
  <ion-item-sliding #slidingItem *ngFor="let chat of userChats">
    <ion-item
      [routerLink]="'/logged-in/menu/chat/conversation/' + (chat.user1.id === user.id ? chat.user2.id:chat.user1.id)">
      <ion-avatar slot="start">
        <div class="img-wrapper circle">
          <span
            class="initials">{{chat.user1.id === user.id ? chat.user2.name.substring(0, 2) : chat.user1.name.substring(0, 2)}}</span>
        </div>
      </ion-avatar>
      <ion-label>
        <h2>{{chat.user1.id === user.id ? chat.user2.name + ' ' + chat.user2.surnames : chat.user1.name + ' ' + chat.user1.surnames}}</h2>
        <h3>{{chat.messages[chat.messages.length - 1].content}}</h3>
      </ion-label>
      <ion-icon *ngIf="chat.messages[chat.messages.length - 1].user.id !== user.id" color="danger"
                name="radio-button-on-outline"
                slot="end"></ion-icon>
    </ion-item>

    <ion-item-options (ionSwipe)="markChatAsRead(chat.id, slidingItem)"
                      side="start">
      <ion-item-option (click)="markChatAsRead(chat.id, slidingItem)"
                       color="primary">Marcar como leído
      </ion-item-option>
    </ion-item-options>

    <ion-item-options (ionSwipe)="deleteChat(chat.id, slidingItem)" side="end">
      <ion-item-option (click)="deleteChat(chat.id, slidingItem)"
                       color="danger">Eliminar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<delphi-chat-empty *ngIf="!loading && userChats?.length == 0"></delphi-chat-empty>
