<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logged-in/home/menu/processes" (click)="goBack()" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar preguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="this.process?.currentRound.questions[questionIndex].name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de pregunta</ion-label>
    <ion-select [(ngModel)]="this.process?.currentRound.questions[questionIndex].type">
      <ion-select-option value="QUALITATIVE">Cualitativa</ion-select-option>
      <ion-select-option value="QUANTITATIVE">Cuantitativa</ion-select-option>
      <ion-select-option value="BOOLTYPE">Booleana</ion-select-option>
      <ion-select-option value="CATCUSTOM">Categorías</ion-select-option>
      <ion-select-option value="CATLIKERT">Escala de Likert</ion-select-option>
      <ion-select-option value="CATMULTI">Categorías con selección múltiple</ion-select-option>
      <ion-select-option value="CATPOND">Categorías ponderadas</ion-select-option> <!-- este permite reordenar respuesta de categorías-->
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Introduce tu pregunta aquí"
                  [(ngModel)]="this.process.currentRound.questions[questionIndex].question"></ion-textarea>
  </ion-item>

  <div *ngIf="this.process?.currentRound.questions[questionIndex]?.type === 'QUANTITATIVE'">
    <ion-item>
      <ion-input placeholder="Valor mínimo"
                 [value]="this.process?.currentRound.questions[questionIndex]?.minVal"></ion-input>
      <ion-input placeholder="Valor máximo"
                 [value]="this.process?.currentRound.questions[questionIndex]?.maxVal"></ion-input>
    </ion-item>
    <ion-range [min]="0"
               [max]="10"
               step="1"
               snaps color="primary" disabled="true" value="5">
      <ion-icon slot="start" color="danger" name="sad-outline"></ion-icon>
      <ion-icon slot="end" color="success" name="happy-outline"></ion-icon>
    </ion-range>
  </div>
  <div *ngIf="this.process?.currentRound.questions[questionIndex]?.type === 'BOOLTYPE'">
    <ion-item>
      <ion-label>Respuesta</ion-label>
      <ion-select value="1">
        <ion-select-option value="1" disabled>Sí</ion-select-option>
        <ion-select-option value="0" disabled>No</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div *ngIf="this.process?.currentRound.questions[questionIndex]?.type === 'CATCUSTOM'">

    <ion-item>
      <ion-input placeholder="Nombre categoría..." [(ngModel)]="currentCategory"></ion-input>
      <ion-button size="small" (click)="addCategory()">Añadir categoría</ion-button>
    </ion-item>

    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Categorías</ion-label>
          <ion-badge slot="end" >{{this.process?.currentRound.questions[this.questionIndex]?.categories.length}}</ion-badge>
        </ion-item-divider>

        <ion-item *ngFor="let category of this.process?.currentRound.questions[this.questionIndex]?.categories; let i = index">
          <ion-label>{{category.catName}}</ion-label>
          <ion-icon slot="end" name="trash" (click)="delCategory(category)"></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
  <div *ngIf="this.process?.currentRound.questions[questionIndex]?.type === 'CATLIKERT'">
    <ion-item>
      <ion-label>Escala de Likert</ion-label>
      <ion-select value="3">
        <ion-select-option value="1" disabled>Totalmente en desacuerdo</ion-select-option>
        <ion-select-option value="2" disabled>En desacuerdo</ion-select-option>
        <ion-select-option value="3" disabled>Ni de acuerdo ni en desacuerdo</ion-select-option>
        <ion-select-option value="4" disabled>De acuerdo</ion-select-option>
        <ion-select-option value="5" disabled>Totalmente de acuerdo</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="this.process?.currentRound.questions[questionIndex]?.type == 'CATMULTI'">
    <ion-item>
      <ion-range min="1" [max]="this.process?.currentRound.questions[this.questionIndex]?.categories.length + 1" step="1" [(ngModel)]="responseRange" snaps color="primary">
        <ion-icon slot="start" size="small" color="primary" name="aperture-outline"></ion-icon>
        <ion-icon slot="end" color="success" name="aperture"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Nombre categoría..." [(ngModel)]="currentCategory"></ion-input>
      <ion-button size="small" (click)="addCategory()">Añadir categoría</ion-button>
    </ion-item>

    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Categorías</ion-label>
          <ion-badge slot="end" >{{this.process?.currentRound.questions[this.questionIndex]?.categories.length}}</ion-badge>
        </ion-item-divider>

        <ion-item *ngFor="let category of this.process?.currentRound.questions[this.questionIndex]?.categories; let i = index">
          <ion-label>{{category.catName}}</ion-label>
          <ion-icon slot="end" name="trash" (click)="delCategory(category)"></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
  <div *ngIf="this.process?.currentRound.questions[questionIndex]?.type == 'CATPOND'">

    <ion-item>
      <ion-input placeholder="Nombre categoría..." [(ngModel)]="currentCategory"></ion-input>
      <ion-button size="small" (click)="addCategory()">Añadir categoría</ion-button>
    </ion-item>

    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Categorías</ion-label>
          <ion-badge slot="end" >{{this.process?.currentRound.questions[this.questionIndex]?.categories.length}}</ion-badge>
        </ion-item-divider>

        <ion-item *ngFor="let category of this.process?.currentRound.questions[this.questionIndex]?.categories; let i = index">
          <ion-label>{{category.catName}}</ion-label>
          <ion-icon slot="end" name="trash" (click)="delCategory(category)"></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="saveQuestionContent()">Guardar contenido</ion-button>
  </ion-toolbar>
</ion-footer>
