
<ion-item>
  <ion-label>Máximas selecciones</ion-label>
  <ion-input type="number" [(ngModel)]="question.maxSelectable"
             debounce="1000"
             [readonly]="process.currentRound.started"
             (ngModelChange)="updateQuestion()"></ion-input>
</ion-item>
<ion-item>
  <ion-input [readonly]="process.currentRound.started" [(ngModel)]="currentCategory" placeholder="Nombre categoría..."></ion-input>
  <ion-button [disabled]="process.currentRound.started" (click)="addCategory()" size="small">Añadir categoría</ion-button>
</ion-item>

<ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Categorías</ion-label>
      <ion-badge
        slot="end">{{question.categories?.length}}</ion-badge>
    </ion-item-divider>

    <ion-item
      *ngFor="let category of question.categories; let i = index">
      <ion-label>{{category.catName}}</ion-label>
      <ion-icon *ngIf="!process.currentRound.started" (click)="delCategory(category)" name="trash" slot="end"></ion-icon>
    </ion-item>
  </ion-item-group>
</ion-list>
