<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logged-in/home/menu/processes" (click)="goBack()" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar rondas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->

  <ion-reorder-group (ionItemReorder)="onItemReorder($event)" disabled="false">
    <!-- Default reorder icon, end aligned items -->
    <ion-item-sliding *ngFor="let round of process?.rounds; let roundIndex = index">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteRound(roundIndex)">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item
        [routerLink]="['/logged-in/home/menu/processes/modify_questions']"
        [state]="{ process: process, roundIndex: roundIndex}">
        <ion-input [(ngModel)]="round.name"></ion-input>
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>
    </ion-item-sliding>

  </ion-reorder-group>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addRound()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="saveRounds()">Guardar rondas</ion-button>
  </ion-toolbar>
</ion-footer>
