


.circle {
  background-color: #ccc;
  border-radius: 50%;
  height: 25px;
  text-align: center;
  width: 25px;
}

.initials {
  font-size: 1em;
  line-height: 1;
  position: relative;
  top: 5px;
}


