<ion-content>
  <ion-list lines="inset">
    <ion-img alt="logo" class="logo" src="assets/login_logo.svg"></ion-img>
    <ion-list-header class="ion-text-center" lines="none">
      <ion-label>Recuperar contraseña</ion-label>
    </ion-list-header>
    <ion-item lines="inset">
      <ion-label position="fixed">Email</ion-label>
      <ion-input [(ngModel)]="email" placeholder="Introduce tu email"
                 type="email"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="secondary" expand="block" fill="outline" routerDirection="back" routerLink="/logged-out/login">
    Volver a conexión
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="recover()" expand="block">Recuperar contraseña</ion-button>
  </ion-toolbar>
</ion-footer>
