<ion-content>
  <form (ngSubmit)="recover()" [formGroup]="recoverForm">
    <ion-list lines="inset">
      <ion-img alt="logo" class="logo" src="assets/login_logo.svg"></ion-img>
      <ion-list-header class="ion-text-center" lines="none">
        <ion-label>Recuperar contraseña</ion-label>
      </ion-list-header>
      <ion-item lines="inset">
        <ion-label position="fixed">Email</ion-label>
        <ion-input formControlName="email" placeholder="Introduce tu email"
                   type="email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="secondary" expand="block" fill="outline" routerDirection="back" routerLink="/logged-out/login">
      Volver a conexión
    </ion-button>
    <ion-button [disabled]="!recoverForm.valid" expand="block" type="submit">Recuperar contraseña</ion-button>
  </form>

</ion-content>
