<ion-content>
  <ion-list lines="inset">

    <img src="assets/login_logo.png" alt="logo" class="logo">
    <ion-list-header lines="none" class="ion-text-center">
      <ion-label>Conexión</ion-label>
    </ion-list-header>
    <ion-item lines="inset">
      <ion-label position="fixed">Email</ion-label>
      <ion-input [(ngModel)]="loginUser.email" type="email" placeholder="Introduce tu email..."></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="fixed">Contraseña</ion-label>
      <ion-input [(ngModel)]="loginUser.password" type="password" placeholder="Introduce tu contraseña..."></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Sesión extendida</ion-label>
      <ion-toggle [(ngModel)]="loginUser.rememberMe"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="login()" expand="block">{{ 'login_page.loginButton' | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>
