.logo {
  margin-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  animation: normal;
}
::ng-deep ion-list-header {
  padding-inline-start: 0 !important;
}

@import 'https://fonts.googleapis.com/css?family=Raleway';

$color-brand: #ffffff;
$color-alt: #1c2051;
$logo-size: 100px;
$dot-size: 10px;
$round: 50%;

.slogan {
  color: $color-alt;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  position: relative;
  visibility: hidden;
  animation: scaleAndBounce 1s 2s ease-in-out,
  showUp 0.3s 2.1s forwards;
}

.slogan > .sub-slogan-loader {
  visibility: hidden;
  animation: showUp 3s 4.2s forwards;
}
