<ion-content class="ion-padding" fullscreen scroll-y="false">
  <ion-slides #mySlider pager="false">

    <ion-slide>
      <div class="slide">
        <img alt="" src="../../../assets/onboarding/slide-1.png"/>
        <h2>{{ 'onboarding_page.welcome_1' | translate }}</h2>
        <p>{{ 'onboarding_page.welcome_2' | translate }}</p>
        <ion-button (click)="swipeNext()" fill="clear">Siguiente
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <img alt="" src="../../../assets/onboarding/slide-2.png"/>
      <h2>{{ 'onboarding_page.delphi' | translate }}</h2>
      <p>{{ 'onboarding_page.explanation' | translate }}</p>
      <ion-button (click)="swipeNext()" fill="clear">{{ 'onboarding_page.next' | translate }}
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide>
      <img alt="" src="../../../assets/onboarding/slide-3.png"/>
      <h2>{{ 'onboarding_page.whatToDo_1' | translate }}</h2>
      <p><b>{{ 'onboarding_page.whatToDo_2' | translate }}</p>
      <ion-button (click)="swipeNext()" fill="clear">{{ 'onboarding_page.next' | translate }}
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide>
      <img alt="" src="../../../assets/onboarding/slide-4.png"/>
      <h2>{{ 'onboarding_page.ready' | translate }}</h2>
      <ion-button (click)="endSwiper()" fill="clear">{{ 'onboarding_page.goToApp' | translate }}
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
