<ion-content class="ion-padding" fullscreen scroll-y="false">
  <ion-slides #onboardingSlides [options]="{ allowTouchMove: false }" class="swiper-no-swiping" pager="false">

    <ion-slide>
      <div class="slide">
        <img alt="" src="../../../assets/images/onboarding/slide-1.png"/>
        <h2>Bienvenid@ a Delphi</h2>
        <p>La plataforma ágil de procesos Delphi</p>
        <form (ngSubmit)="setupAccount()" [formGroup]="onboardingForm">

          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input formControlName="firstName" placeholder="Introduce tu nombre" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Apellidos</ion-label>
            <ion-input formControlName="lastName" placeholder="Introduce tus apellidos" type="text"></ion-input>
          </ion-item>
          <ion-button fill="clear" type="submit" [disabled]="!onboardingForm.valid">Siguiente
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-button>
        </form>
      </div>
    </ion-slide>

    <ion-slide>
      <img alt="" src="../../../assets/images/onboarding/slide-2.png"/>
      <h2>Segura</h2>
      <p>Podrás cambiar tu contraseña desde tu perfil.</p>
      <ion-button (click)="swipeNext()" fill="clear">Siguiente
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide>
      <img alt="" src="../../../assets/images/onboarding/slide-3.png"/>
      <h2>En tiempo real</h2>
      <p><strong>La aplicación funciona en tiempo real, así que no tendrás que preocuparte de los datos.</strong></p>
      <ion-button (click)="swipeNext()" fill="clear">Siguiente
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>

    <ion-slide>
      <img alt="" src="../../../assets/images/onboarding/slide-4.png"/>
      <h2>Esperemos que disfrutes de la aplicación.</h2>
      <ion-button (click)="endSwiper()" fill="clear">Finalizar
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
