<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="processes">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Procesos</ion-label>
      <ion-badge *ngIf="notifications.proccess > 0" color="primary">{{notifications.proccess}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Chat</ion-label>
      <ion-badge *ngIf="notifications.messages > 0" color="primary">{{notifications.messages}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
      <ion-badge *ngIf="notifications.profile > 0" color="primary">{{notifications.profile}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
