<ion-searchbar (ionChange)="search()" [(ngModel)]="searchText" cancelButtonText="Cancelar"
               showCancelButton="focus"></ion-searchbar>
<ion-list>
  <ion-radio-group>
    <ion-item (click)="control.setValue(option.value)" *ngFor="let option of optionsFiltered"
              [class.item-radio-checked]="control.value === option.value">
      <ion-label [class.item-radio-checked]="control.value === option.value"
                 class="ion-text-wrap">{{option.text}}</ion-label>
      <ion-radio [class.radio-checked]="control.value === option.value" slot="start"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>

