<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'invitation_page.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="xc fullheight">
    <ion-grid>
      <ion-row>
        <ion-col offset-lg="2" offset-md="1" offset-xl="3" size="12" size-lg="8" size-md="10" size-sm="12" size-xl="6">
          <ion-item>
            <ion-label position="floating">{{ 'invitation_page.newPasswordLabel' | translate }}</ion-label>
            <ion-input [(ngModel)]="loginUser.password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="0" size="12">
          <ion-button (click)="finishInvitation()" expand="block">{{ 'invitation_page.finishInvitationLabel' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
