<ion-list>
  <!-- Searchbar with cancel button shown on focus -->
  <ion-searchbar (ionInput)="filterList($event)" autocomplete="on" autocorrect="on"
                 cancel-button-text="Cancelar" placeholder="Buscar chat" showCancelButton="focus"></ion-searchbar>
  <ion-item-sliding #slidingItem *ngFor="let chat of userChats">
    <ion-item [routerLink]="'chat'">
      <ion-avatar slot="start">
        <img src="{{selfChatPicture(chat)}}">
      </ion-avatar>
      <ion-label>
        <h2>{{selfChatName(chat)}}</h2>
        <!--TODO <h3>{{chat.currentOpenProjects}}</h3>-->
        <p>{{chat.chatMessages[0]?.message}}</p>
      </ion-label>
      <!-- TODO  <ion-icon [class]="'chat-' + chat.status" name="radio-button-on-outline" slot="end"></ion-icon>-->
      <ion-badge *ngIf="selfChatUnreadMessages(chat,user.id) > 0"
                 color="primary">{{selfChatUnreadMessages(chat, user.id)}}</ion-badge>
    </ion-item>

    <ion-item-options (ionSwipe)="markChatAsRead(chat.id, slidingItem)"
                      *ngIf="selfChatUnreadMessages(chat, user.id) > 0"
                      side="start">
      <ion-item-option (click)="markChatAsRead(chat.id, slidingItem)" color="primary">Leído</ion-item-option>
    </ion-item-options>

    <ion-item-options (ionSwipe)="deleteChat(chat.id, slidingItem)" side="end">
      <ion-item-option (click)="deleteChat(chat.id, slidingItem)" color="danger">Borrar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
