<ion-header *ngIf="process && process.pastRounds">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/finished/' + process.id + '/rounds/list'"
                       routerDirection="back"
                       [routerLink]="'/logged-in/menu/processes/finished/' + process.id + '/rounds/list'"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Visor ronda finalizada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="process && process.pastRounds"><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->

  <ion-item>
    <ion-label>Fecha de cierre</ion-label>
    <ion-datetime [(ngModel)]="this.process?.pastRounds[roundIdx].limitTime" display-format="MMM DD, YYYY HH:mm"
                  picker-format="MMM DD, YYYY HH:mm"
                  placeholder="Introduce fecha límite"
                  [readonly]="process?.pastRounds[roundIdx]?.started || process?.finished"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="this.process?.pastRounds[roundIdx].name" placeholder="Nombre de la ronda"
               debounce="200"
               [readonly]="process?.pastRounds[roundIdx].started || process?.finished"></ion-input>
  </ion-item>
  <div *ngIf="process?.pastRounds[roundIdx].questions.length == 0" class="container">
    <strong>Sin preguntas</strong>
    <p>No existen preguntas asociadas a esta ronda.</p>
  </div>
  <ion-item-group disabled="false">
    <!-- Default reorder icon, end aligned items -->
    <ion-item-sliding *ngFor="let question of process?.pastRounds[roundIdx].questions; let questionIndex = index">

      <ion-item-divider>
        <ion-label>{{question.name}}</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="process?.pastRounds[roundIdx].expertsVoted.length === 0" color="danger">
        Ronda sin participación.
      </ion-item>
      <ion-item *ngFor="let expert of process?.pastRounds[roundIdx].expertsVoted">
        {{expert.name}} {{expert.surnames}}
        <ion-note slot="end" color="primary" [ngSwitch]="question.questionType.name">
          <span *ngSwitchCase="'QUALITATIVE'">{{getExpertAnswer(expert, process?.pastRounds[roundIdx], question.id)?.content}}</span>
          <span *ngSwitchCase="'QUANTITATIVE'">{{getExpertAnswer(expert, process?.pastRounds[roundIdx], question.id)?.content / question.maxVal * 100}} %</span>
          <span *ngSwitchCase="'BOOLTYPE'">{{getExpertAnswer(expert, process?.pastRounds[roundIdx], question.id)?.content == 1 ? 'Sí':'No'}}</span>
          <span *ngSwitchCase="'CATLIKERT'" [ngSwitch]="getExpertAnswer(expert, process?.pastRounds[roundIdx], question.id)?.content">
            <span *ngSwitchCase="1">Totalmente en desacuerdo</span>
            <span *ngSwitchCase="2">En desacuerdo</span>
            <span *ngSwitchCase="3">Indiferente</span>
            <span *ngSwitchCase="4">De acuerdo</span>
            <span *ngSwitchCase="5">Totalmente de acuerdo</span>
          </span>
          <span *ngSwitchCase="'CATCUSTOM'"></span>
          <span *ngSwitchCase="'CATMULTI'"></span>
          <span *ngSwitchCase="'CATPOND'"></span>

        </ion-note>
      </ion-item>
    </ion-item-sliding>

  </ion-item-group>
</ion-content>

<ion-footer *ngIf="process && !process?.finished">
  <ion-toolbar>
    <ion-button
      [fill]="'clear'"
      expand="block"

      routerDirection="forward"
      [routerLink]="'/logged-in/menu/processes/finished/' + process?.id + '/rounds/statistics/' +  process?.pastRounds[roundIdx].id">Estadísticas
    </ion-button>
  </ion-toolbar>
</ion-footer>
