<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/logged-in/home/menu/processes/single']"
                       [state]="{ process: process}"
                       (click)="goBack()"
                       [text]="'home.processes.single.participate.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'home.processes.single.participate.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item-group *ngFor="let answer of answers; let questionIndex = index">
      <ion-item-divider>
        <ion-label>{{answer.question.question}}</ion-label>
      </ion-item-divider>

      <ion-item *ngIf="this.currentRound !== undefined &&
    answer.question?.type === 'QUALITATIVE'"><ion-textarea
        [(ngModel)]="answer.response" [placeholder]="'home.processes.single.participate.answer' | translate"></ion-textarea></ion-item>
      <ion-range *ngIf="this.currentRound !== undefined &&
    answer.question?.type === 'QUANTITATIVE'" [min]="0"
                 [max]="10"
                 step="1"
                 snaps color="primary" [(ngModel)]="answer.response">
        <ion-icon slot="start" color="danger" name="sad-outline"></ion-icon>
        <ion-icon slot="end" color="success" name="happy-outline"></ion-icon>
      </ion-range>

      <ion-item *ngIf="this.currentRound !== undefined &&
    answer.question?.type === 'BOOLTYPE'">
        <ion-label>Respuesta</ion-label>
        <ion-select [(ngModel)]="answer.response">
          <ion-select-option value="1">Sí</ion-select-option>
          <ion-select-option value="0">No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="this.currentRound !== undefined &&
    answer.question?.type === 'CATCUSTOM'">
        <ion-select [(ngModel)]="answer.response">
          <ion-select-option *ngFor="let cat of answer.question?.categories" [value]="cat.id">{{cat.catName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="this.currentRound !== undefined &&
    answer.question?.type === 'CATLIKERT'">
        <ion-label>Escala de Likert</ion-label>
        <ion-select [(ngModel)]="answer.response">
          <ion-select-option value="1">Totalmente en desacuerdo</ion-select-option>
          <ion-select-option value="2">En desacuerdo</ion-select-option>
          <ion-select-option value="3">Ni de acuerdo ni en desacuerdo</ion-select-option>
          <ion-select-option value="4">De acuerdo</ion-select-option>
          <ion-select-option value="5">Totalmente de acuerdo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="this.currentRound !== undefined &&
    answer.question?.type === 'CATMULTI'">
        categorias multiples
      </ion-item>
      <ion-item *ngIf="this.currentRound !== undefined &&
    answer.question?.type === 'CATPOND'">
        reordenacion categorias ponderacion
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block"
                (click)="confirmParticipation()">{{'home.processes.single.participate.send' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
