<ion-list>
  <ion-list-header>
    <ion-toolbar>
      <ion-segment (ionChange)="filterProcesses($event)" value="active">
        <ion-segment-button value="active">
          <ion-label>En curso</ion-label>
        </ion-segment-button>
        <ion-segment-button value="finished">
          <ion-label>Finalizados</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-list-header>
  <ion-item *ngFor="let process of processesFiltered" [routerLink]="'single/' + process.id">
    <ion-thumbnail slot="start">
      <img src="{{process.picture}}">
    </ion-thumbnail>
    <ion-label>
      <h3>
        {{ process.description }}
      </h3>
      <p>
        {{ process.status === 'finished' ? 'Ver resultados' : process.remainingTime }}
      </p>
    </ion-label>
  </ion-item>
</ion-list>
<ion-fab *ngIf="createProcessAvailable" class="process add" horizontal="end" slot="fixed" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
