<ion-item>
  <ion-label>Escala de Likert</ion-label>
  <ion-select value="3">
    <ion-select-option disabled value="1">Totalmente en desacuerdo</ion-select-option>
    <ion-select-option disabled value="2">En desacuerdo</ion-select-option>
    <ion-select-option disabled value="3">Ni de acuerdo ni en desacuerdo</ion-select-option>
    <ion-select-option disabled value="4">De acuerdo</ion-select-option>
    <ion-select-option disabled value="5">Totalmente de acuerdo</ion-select-option>
  </ion-select>
</ion-item>
