<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/single-round/' + this.process.id"
                       routerDirection="back"
                       [routerLink]="'/logged-in/menu/processes/single-round/' + this.process.id"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Cierre de ronda</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Textarea in an item with a placeholder -->
  <ion-item>
    <ion-textarea [(ngModel)]="conclusion" placeholder="Introduce tu conclusión aquí..."></ion-textarea>
  </ion-item>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button (click)="closeProcess()"
                expand="block">Cerrar ronda</ion-button>
  </ion-toolbar>
</ion-footer>
