<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/finished/' + this.process?.id"
                       routerDirection="back"
                       [routerLink]="'/logged-in/menu/processes/finished/' + this.process?.id"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Finalizar proceso</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="process">
  <!-- Textarea in an item with a placeholder -->
  <ion-item>
    <ion-textarea [(ngModel)]="process.conclusion" placeholder="Introduce tu conclusión aquí..."></ion-textarea>
  </ion-item>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button (click)="closeProcess()"
                expand="block">Finalizar proceso</ion-button>
  </ion-toolbar>
</ion-footer>

