<ion-item>
  <ion-input (ngModelChange)="updateQuestion()" [(ngModel)]="question.minVal"
             [readonly]="process.currentRound.started"
             placeholder="Valor mínimo"
             type="number"></ion-input>
  <ion-input (ngModelChange)="updateQuestion()" [(ngModel)]="question.maxVal"
             [readonly]="process.currentRound.started"
             placeholder="Valor máximo"
             type="number"></ion-input>
</ion-item>
<ion-range [max]="question.maxVal"
           [min]="question.minVal"
           [value]="question.maxVal / 2"
           color="primary" disabled="true" snaps step="1">
  <ion-icon color="danger" name="sad-outline" slot="start"></ion-icon>
  <ion-icon color="success" name="happy-outline" slot="end"></ion-icon>
</ion-range>

