<ion-item>
  <ion-input type="number" [(ngModel)]="question.minVal"
             placeholder="Valor mínimo"
             [readonly]="process.currentRound.started"
             (ngModelChange)="updateQuestion()"></ion-input>
  <ion-input type="number" [(ngModel)]="question.maxVal"
             placeholder="Valor máximo"
             [readonly]="process.currentRound.started"
             (ngModelChange)="updateQuestion()"></ion-input>
</ion-item>
<ion-range [max]="question.maxVal"
           [min]="question.minVal"
           color="primary"
           disabled="true" snaps step="1" [value]="question.maxVal / 2">
  <ion-icon color="danger" name="sad-outline" slot="start"></ion-icon>
  <ion-icon color="success" name="happy-outline" slot="end"></ion-icon>
</ion-range>

