<ion-header *ngIf="process && process.currentRound && process.currentRound.questions">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="this.viewOnly ? '/logged-in/menu/processes/finished/' + process.id + '/question/list':'/logged-in/menu/processes/finished/' + process.id"
        [routerLink]="this.viewOnly ? '/logged-in/menu/processes/finished/' + process.id + '/question/list':'/logged-in/menu/processes/finished/' + process.id"
        routerDirection="back"
        [text]="this.viewOnly ? 'Volver al editor':'Cancelar'"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.idx + 1 <= this.process.currentRound.questions.length">
      Pregunta {{this.idx + 1}}/{{this.process.currentRound.questions.length}}</ion-title>
    <ion-title *ngIf="this.idx + 1 > this.process.currentRound.questions.length">Finalizar participación
    </ion-title>
    <ion-progress-bar [buffer]="this.idx / this.process.currentRound.questions.length"
                      value="{{this.idx / this.process.currentRound.questions.length}}"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="process && process.currentRound && process.currentRound.questions">
  <ion-slides #participate [options]="{ allowTouchMove: false }" class="swiper-no-swiping">
    <ion-slide *ngFor="let question of process.currentRound.questions">
      <div class="slide">
        <p>{{question.name}}</p>
        <form>

          <div *ngIf="question.questionType.name === 'QUALITATIVE'">
            <delphi-qualitative
              [question]="question"
              [viewChange]="answerUpdater.asObservable()"
              (valueChange)="changeVal($event)"
            ></delphi-qualitative>
          </div>
          <div *ngIf="question.questionType.name === 'QUANTITATIVE'">
            <delphi-quantitative
              [question]="question"
              [viewChange]="answerUpdater.asObservable()"
              (valueChange)="changeVal($event)"
            ></delphi-quantitative>
          </div>
          <div *ngIf="question.questionType.name === 'BOOLTYPE'">
            <delphi-radio-checker
              [viewChange]="answerUpdater.asObservable()"
              (radioChange)="changeVal($event)"
              [options]="qks.getBooleanKinds()"></delphi-radio-checker>
          </div>
          <div *ngIf="question.questionType.name === 'CATLIKERT'">
            <delphi-radio-checker
              [viewChange]="answerUpdater.asObservable()"
              (radioChange)="changeVal($event)"
              [options]="qks.getLikertKinds()"></delphi-radio-checker>
          </div>
          <div *ngIf="question.questionType.name === 'CATCUSTOM'">
            <delphi-radio-checker
              [viewChange]="answerUpdater.asObservable()"
              (radioChange)="changeVal($event)"
              [options]="qks.mapCatsToKinds(question.categories)"></delphi-radio-checker>
          </div>
          <div *ngIf="question.questionType.name === 'CATMULTI'">
            <delphi-radio-checker-multi
              [viewChange]="answerUpdater.asObservable()"
              (radioChange)="changeVal($event)"
              [options]="qks.mapCatsToKinds(question.categories)"
              [maxSelectable]="question.maxSelectable"></delphi-radio-checker-multi>
          </div>
          <div *ngIf="question.categories && question.questionType.name === 'CATPOND'">
            <delphi-ponderation
              [viewChange]="answerUpdater.asObservable()"
              (radioChange)="changeVal($event)"
              [options]="qks.mapCatsToKinds(question.categories)"></delphi-ponderation>

          </div>
        </form>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer *ngIf="process && process.currentRound && process.currentRound.questions">
  <ion-toolbar>
    <ion-button (click)="back()" [disabled]="idx == 0" expand="full">Anterior</ion-button>
    <ion-button (click)="advance()" *ngIf="idx < process.currentRound.questions.length - 1" expand="full">
      Siguiente
    </ion-button>
    <ion-button [disabled]="this.viewOnly" (click)="finish()" *ngIf="idx >= process.currentRound.questions.length - 1"
                expand="full">
      Finalizar
    </ion-button>
  </ion-toolbar>
</ion-footer>
