<ion-header *ngIf="process && process.currentRound && process.currentRound.questions">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/finished/' + process.id"
                       routerDirection="back"
                       [routerLink]="'/logged-in/menu/processes/finished/' + process.id"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.currentQuestion + 1 <= this.process.currentRound.questions.length">Pregunta {{this.currentQuestion + 1}}/{{this.process.currentRound.questions.length}}</ion-title>
    <ion-title *ngIf="this.currentQuestion + 1 > this.process.currentRound.questions.length">Finalizar participación</ion-title>
    <ion-progress-bar value="{{this.currentQuestion / this.process.currentRound.questions.length}}" [buffer]="this.currentQuestion / this.process.currentRound.questions.length"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="process && process.currentRound && process.currentRound.questions">
  <ion-slides #participate [options]="{ allowTouchMove: false }" class="swiper-no-swiping">
    <ion-slide *ngFor="let question of process.currentRound.questions">
      <div class="slide">
        <p>{{question.name}}</p>
        <!-- Textarea in an item with a placeholder -->
        <ion-item *ngIf="question.questionType.name === 'QUALITATIVE'">
          <ion-textarea [value]="currentQuestionValue" inputmode="text" placeholder="Introduce aquí tu respuesta"
                        (ionChange)="updateAnswer(currentQuestion, $event)"></ion-textarea>
        </ion-item>
        <div *ngIf="question.questionType.name === 'QUANTITATIVE'">
          <ion-item>
            <ion-range [max]="question.maxVal"
                       [min]="question.minVal"
                       color="primary" snaps step="1"
                       [value]="currentQuestionValue"
                       (ionChange)="updateAnswer(currentQuestion, $event)">
              <ion-icon color="danger" name="sad-outline" slot="start"></ion-icon>
              <ion-icon color="success" name="happy-outline" slot="end"></ion-icon>
            </ion-range>
          </ion-item>
        </div>
        <div *ngIf="question.questionType.name === 'BOOLTYPE'">
          <ion-list>
            <ion-radio-group
              [value]="currentQuestionValue"
              (ionChange)="updateAnswer(currentQuestion, $event)">
              <ion-item>
                <ion-label class="ion-text-wrap">Sí</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label class="ion-text-wrap">No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div *ngIf="question.questionType.name === 'CATLIKERT'">
          <ion-list>
            <ion-radio-group [value]="currentQuestionValue"
                             (ionChange)="updateAnswer(currentQuestion, $event)">
              <ion-item>
                <ion-label class="ion-text-wrap">Totalmente en desacuerdo</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label class="ion-text-wrap">En desacuerdo</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">Indiferente</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">De acuerdo</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">Totalmente de acuerdo</ion-label>
                <ion-radio slot="start" value="5"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div *ngIf="question.questionType.name === 'CATCUSTOM'">
          <ion-list>
            <ion-radio-group (ionChange)="addCatAnswer(currentQuestion, $event)"
                             [value]="currentQuestionValue">
              <ion-item *ngFor="let category of question.categories">
                <ion-label class="ion-text-wrap">{{category.catName}}</ion-label>
                <ion-radio slot="start" [value]="category.id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div *ngIf="question.questionType.name === 'CATMULTI'">

          <p>Máximas selecciones habilitadas: {{this.answers[currentQuestion].question.maxSelectable}}</p>
          <ion-item>
            <ion-label class="ion-text-wrap">Categorías</ion-label>
            <ion-select multiple="true" (ionChange)="addCatAnswer(currentQuestion, $event)"
                        [value]="currentQuestionValue">
              <ion-select-option class="show-text" *ngFor="let category of question.categories"
                                 [value]="category.id">{{category.catName}}</ion-select-option>
            </ion-select>
          </ion-item>


        </div>
        <div *ngIf="question.questionType.name === 'CATPOND'">
          <p>Introduzca su ponderación entre 0 (puntuación más baja) y 10 (puntuación más alta).</p>
          <ion-list>
            <ion-item *ngFor="let category of question.categories">
              <ion-label class="ion-text-wrap">{{category.catName}}</ion-label>
              <ion-input (ionChange)="addCatPondAnswer(currentQuestion, $event, category.id)" placeholder="Ponderación entre 0 y 10" type="number" min="0" max="10" value="null"></ion-input>
            </ion-item>
          </ion-list>
        </div>

      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer *ngIf="process && process.currentRound && process.currentRound.questions">
  <ion-toolbar>
    <ion-button expand="full" [disabled]="currentQuestion == 0" (click)="back()">Anterior</ion-button>
    <ion-button expand="full" *ngIf="currentQuestion < process.currentRound.questions.length - 1" (click)="advance()">
      Siguiente
    </ion-button>
    <ion-button expand="full" *ngIf="currentQuestion >= process.currentRound.questions.length - 1" (click)="finish()">
      Finalizar
    </ion-button>
  </ion-toolbar>
</ion-footer>
