
<ion-item>
  <ion-input [readonly]="process.currentRound.started" [(ngModel)]="currentCategory" placeholder="Nombre categoría..."></ion-input>
  <ion-button [disabled]="process.currentRound.started" (click)="addCategory()" size="small">Añadir categoría</ion-button>
</ion-item>

<ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Categorías</ion-label>
      <ion-badge
        slot="end">{{process.currentRound[questionIdx].categories.length}}</ion-badge>
    </ion-item-divider>

    <ion-item
      *ngFor="let category of process.currentRound[questionIdx].categories; let i = index">
      <ion-label>{{category.catName}}</ion-label>
      <ion-icon *ngIf="!process.currentRound.started" (click)="delCategory(category)" name="trash" slot="end"></ion-icon>
    </ion-item>
  </ion-item-group>
</ion-list>
