<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logged-in/home/menu/processes" (click)="goBack()" [text]="'home.processes.user_picker.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'home.processes.role.' + role?.name.toLowerCase() | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500" animated [placeholder]="'home.processes.user_picker.search.title' | translate:{role: 'home.processes.role.' + role?.name.toLowerCase() | translate}"
                 (ionChange)="filterExperts()" [(ngModel)]="filterCriterial"></ion-searchbar>
  <ion-list *ngIf="usersFiltered.length > 0 && this.filterCriterial !== ''" class="user-picker-filtered">
    <ion-item *ngFor="let expert of usersFiltered"
              (click)="pushExpert(expert)">
      <ion-avatar slot="start">
        <img *ngIf="expert?.photo !== undefined" [src]="expert?.photo"
             (error)="$event.target['src'] = 'assets/images/no-process-image.jpeg'"/>
        <img *ngIf="expert?.photo === undefined" src="assets/images/no-process-image.jpeg"/>
      </ion-avatar>
      {{ expert.name }} {{ expert.surnames }} <{{ expert.email }}>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="usersFiltered?.length == 0 && this.filterCriterial !== '' && !this.validateEmail(this.filterCriterial)">
    <ion-title>{{'home.processes.user_picker.search.no_results' | translate}}</ion-title>
  </ion-item>
  <ion-item *ngIf="usersFiltered?.length == 0 && this.filterCriterial !== '' && this.validateEmail(this.filterCriterial)">
    <ion-title></ion-title>
    <ion-button expand="block" (click)="inviteUser(this.filterCriterial)">Invitar a <{{this.filterCriterial}}></ion-button>
  </ion-item>
  <ion-item *ngIf="process?.processUsers.length == 0">
    <ion-title>{{'home.processes.user_picker.no_experts' | translate}}</ion-title>
  </ion-item>

  <div *ngFor="let userWithRole of process?.processUsers">
    <ion-chip *ngIf="userWithRole.role.id === role.id"  [color]="userWithRole?.user.id === currentUser?.id?'primary':'secondary'">
      <ion-avatar>
        <img *ngIf="userWithRole.user.photo !== undefined" [src]="userWithRole?.user.photo"
             (error)="$event.target['src'] = 'assets/images/no-process-image.jpeg'"/>
        <img *ngIf="userWithRole.user.photo === undefined" src="assets/images/no-process-image.jpeg"/>
      </ion-avatar>
      <ion-label>{{userWithRole?.user.name}} {{userWithRole?.user.surnames}} <{{ userWithRole?.user.email }}></ion-label>
      <ion-icon *ngIf="userWithRole?.user.id !== currentUser?.id" name="close-circle" (click)="removeExpert(userWithRole)"></ion-icon>
    </ion-chip>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="saveUsers()">{{'home.processes.user_picker.save' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>
