<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/single/' + process.id"
                       routerDirection="back"
                       [routerLink]="'/logged-in/menu/processes/single/' + process.id"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Planificar ronda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->

  <ion-item>
    <ion-label>Fecha de cierre</ion-label>
    <ion-datetime [(ngModel)]="this.process?.currentRound.endTime" display-format="MMM DD, YYYY HH:mm"
                  (ngModelChange)="updateBasicData()"
                  picker-format="MMM DD, YYYY HH:mm"
                  placeholder="Introduce fecha límite"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="this.process?.currentRound.name" placeholder="Nombre de la ronda"
               debounce="200"
               (ngModelChange)="updateBasicData()"></ion-input>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <div *ngIf="process?.currentRound.questions.length == 0" id="container">
    <strong>Sin preguntas</strong>
    <p>No existen preguntas asociadas a esta ronda.</p>
  </div>
  <ion-reorder-group (ionItemReorder)="onItemReorder($event)" disabled="false">
    <!-- Default reorder icon, end aligned items -->
    <ion-item-sliding *ngFor="let question of process?.currentRound.questions; let questionIndex = index">
      <ion-item-options side="start">
        <ion-item-option (click)="deleteQuestion(questionIndex)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item
        [routerLink]="['/logged-in/menu/processes/single/' + process.id + '/question/single']">
        {{question.question}}
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>
    </ion-item-sliding>

  </ion-reorder-group>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab (click)="addQuestion()" horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
