<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/single-round/' + process.id"
                       routerDirection="back"
                       [routerLink]="'/logged-in/menu/processes/single-round/' + process.id"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Planificar ronda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->

  <ion-item>
    <ion-label>Fecha de cierre</ion-label>
    <ion-datetime [(ngModel)]="process.currentRound.limitTime" display-format="MMM DD, YYYY HH:mm"
                  (ngModelChange)="updateBasicData()"
                  picker-format="MMM DD, YYYY HH:mm"
                  [min]="currentTime"
                  placeholder="Introduce fecha límite"
                  [readonly]="process.currentRound?.started || process.finished || !isCoordinator()"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="this.process?.currentRound.name" placeholder="Nombre de la ronda"
               debounce="200"
               (ngModelChange)="updateBasicData()"
               [readonly]="process.currentRound.started || process.finished || !isCoordinator()"></ion-input>
  </ion-item>

  <ion-item [disabled]="!process.currentRound.started" routerDirection="forward"
            [routerLink]="'/logged-in/menu/processes/single-round/' + process.id + '/question/remaining_experts'">
    <ion-label>Estado de la votación</ion-label>
    <ion-badge slot="end">{{process.currentRound.expertsRemaining.length}} expertos por votar
    </ion-badge>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <div *ngIf="process?.currentRound.questions.length == 0" class="container">
    <strong>Sin preguntas</strong>
    <p>No existen preguntas asociadas a esta ronda.</p>
  </div>
  <ion-reorder-group (ionItemReorder)="onItemReorder($event)" disabled="false">
    <!-- Default reorder icon, end aligned items -->
    <ion-item-sliding *ngFor="let question of process?.currentRound.questions; let questionIndex = index">
      <ion-item-options side="start">
        <ion-item-option (click)="deleteQuestion(questionIndex)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
      <ion-item
        [routerLink]="['/logged-in/menu/processes/single-round/' + process.id + '/question/single-round/' + question.id]">
        {{question.name}}
        <ion-reorder slot="start" *ngIf="!process.currentRound.started && isCoordinator()"></ion-reorder>
      </ion-item>
    </ion-item-sliding>

  </ion-reorder-group>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab *ngIf="!process.currentRound.started && !process.finished && isCoordinator()" (click)="addQuestionStep1()" horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer  *ngIf="!process.finished && isCoordinator()">
  <ion-toolbar>
    <ion-button color="primary" expand="block" *ngIf="!process.currentRound.started" (click)="startRound()">Comenzar ronda</ion-button>
    <ion-button color="danger" expand="block" *ngIf="process.currentRound.started" (click)="closeRound()">Forzar fin de ronda</ion-button>
  </ion-toolbar>
</ion-footer>
