<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerDirection="back"
                       defaultHref="/logged-in/menu/processes"
                       routerLink="/logged-in/menu/processes"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'home.processes.modify.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <input type="file" multiple="multiple" #uploadPicture hidden (change)="uploadImage()" accept="image/*">
  <ion-card color="light">
    <div class="img-wrapper" (click)="triggerUploadImage()">
      <img *ngIf="process?.pictureUrl !== undefined" [src]="process.pictureUrl"
           (error)="$event.target['src'] = 'assets/images/no-process-image.jpeg'"/>
      <img *ngIf="process?.pictureUrl === undefined" src="assets/images/no-process-image.jpeg"/>
      <ion-button color="light">
        <ion-icon color="medium" name="camera-outline" slot="icon-only">
        </ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        {{ 'home.processes.modify.base' | translate }}
      </ion-label>
    </ion-list-header>


    <ion-item>
      <ion-input [placeholder]="'home.processes.modify.name' | translate"
                 [(ngModel)]="process.name"
                 (ngModelChange)="syncProcess()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea [placeholder]="'home.processes.modify.desc'  | translate"
                    [(ngModel)]="process.description"
                    (ngModelChange)="syncProcess()"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list lines="inset" class="ion-no-margin">
    <ion-list-header>
      <ion-label>
        {{ 'home.processes.modify.rounds.title'  | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item routerDirection="forward" routerLink="/logged-in/menu/processes/modify/rounds">
      <ion-label>{{ 'home.processes.modify.rounds.enter' | translate }}</ion-label>
      <ion-badge slot="end">{{process?.rounds === undefined ? 0 : process?.rounds?.length}}</ion-badge>
    </ion-item>
  </ion-list>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        {{ 'home.processes.modify.rounds.users'  | translate }}
      </ion-label>
    </ion-list-header>

    <!-- Toggles in a List -->
    <ion-item routerDirection="forward" routerLink="/logged-in/menu/processes/modify/user-picker">
      <ion-badge slot="end">{{process?.coordinators?.length}}</ion-badge>
      <ion-label>{{'home.processes.role.coordinator' | translate}}</ion-label>
    </ion-item>

    <!-- Toggles in a List -->
    <ion-item routerDirection="forward" routerLink="/logged-in/menu/processes/modify/user-picker">
      <ion-badge slot="end">{{process?.experts?.length}}</ion-badge>
      <ion-label>{{'home.processes.role.expert' | translate}}</ion-label>
    </ion-item>

    <!--*ngFor="let expert of process?.experts"-->

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="saveProcess()">{{ 'home.processes.modify.save'  | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>
