<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" [text]="'home.profile.basic.back' | translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'home.profile.basic.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{ 'home.profile.basic.header' | translate }}</ion-label>
    <ion-input (ngModelChange)="user.email=$event" [ngModel]="user?.email" [placeholder]="'home.profile.basic.email' | translate"></ion-input>
  </ion-item>
  <section>
    <ion-button expand="block">{{ 'home.profile.basic.save' | translate }}</ion-button>
  </section>
</ion-content>
