<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/logged-in/menu/processes/single/' + process.id + '/question/list'"
                       routerDirection="back"
                       [routerLink]="'/logged-in/menu/processes/single/' + process.id + '/question/list'"
                       text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar preguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><!-- The reorder gesture is disabled by default, enable it to drag and drop items -->

  <ion-item>
    <ion-label>Tipo de pregunta</ion-label>
    <ion-select [(ngModel)]="question.type">
      <ion-select-option value="QUALITATIVE">Cualitativa</ion-select-option>
      <ion-select-option value="QUANTITATIVE">Cuantitativa</ion-select-option>
      <ion-select-option value="BOOLTYPE">Booleana</ion-select-option>
      <ion-select-option value="CATCUSTOM">Categorías</ion-select-option>
      <ion-select-option value="CATLIKERT">Escala de Likert</ion-select-option>
      <ion-select-option value="CATMULTI">Categorías con selección múltiple</ion-select-option>
      <ion-select-option value="CATPOND">Categorías ponderadas</ion-select-option>
      <!-- este permite reordenar respuesta de categorías-->
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="question.name"
                  placeholder="Introduce tu pregunta aquí"></ion-textarea>
  </ion-item>
  <delphi-question-booltype *ngIf="question.type == 'BOOLTYPE'" [question]="question"></delphi-question-booltype>
  <delphi-question-quantitative *ngIf="question.type == 'QUANTITATIVE'" [question]="question"></delphi-question-quantitative>
  <delphi-question-catlikert *ngIf="question.type == 'CATLIKERT'" [question]="question"></delphi-question-catlikert>
  <delphi-question-catcustom *ngIf="question.type == 'CATCUSTOM'" [question]="question"></delphi-question-catcustom>
  <delphi-question-catmulti *ngIf="question.type == 'CATMULTI'" [question]="question"></delphi-question-catmulti>
  <delphi-question-catpond *ngIf="question.type == 'CATPOND'" [question]="question"></delphi-question-catpond>
